:root {
    --width: 720px;
    --font-main: Verdana, sans-serif;
    --font-secondary: Verdana, sans-serif;
    --font-scale: 1.12em;
    --background-color: #24273a;
    --heading-color: #b7bdf8;
    --text-color: #cad3f5;
    --link-color: #f4dbd6;
    --visited-color: #f0c6c6;
    --code-background-color: #494d64 ;
    --code-color: #a6da95;
    --blockquote-color: #f5bde6;
    }
